# MongoDB
DB_HOST=mongodb+srv://danylovo113:5B8axmLejH63sBD@cluster0.4uvyzak.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=contactsdb
MONGODB_PASSWORD=5B8axmLejH63sBD
MONGODB_URL=cluster0.4uvyzak.mongodb.net
MONGODB_USER=danylovo113

# Server
PORT=3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=djgotf8lgb
CLOUDINARY_API_KEY=188327948988987
CLOUDINARY_API_SECRET=7GAiAnz0fRoRwM0Y_5uqXhEh4Y


ENABLE_CLOUDINARY=true

# Email (SMTP через Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=danylovo13@gmail.com
SMTP_PASSWORD=xh1lszql1hyrhzkx
SMTP_FROM=danylovo13@gmail.com

# App Domain
APP_DOMAIN=http://localhost:3000/auth

# JWT
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

