PORT=3000

# MongoDB
MONGODB_USER=danylovoli13
MONGODB_PASSWORD=Test1234
MONGODB_URL=cluster0.4uvzyak.mongodb.net
MONGODB_DB=contactsdb


# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=danylovoli13@gmail.com
SMTP_PASSWORD=xh1l1sz1gnlhvlykz
SMTP_FROM=danylovoli13@gmail.com

# JWT
JWT_SECRET=vO0JidprG1THWcbDvz30

# App Domain
APP_DOMAIN=http://localhost:3000/auth

# Cloudinary
CLOUD_NAME=dgjoftg8lb
API_KEY=188327949898997
API_SECRET=7GAinAnzFeRoRMuEY_5uqXhEh4Y
ENABLE_CLOUDINARY=true