PORT=3000
MONGODB_URI=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=
APP_DOMAIN=

JWT_SECRET=
REFRESH_SECRET=


SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

ENABLE_CLOUDINARY=true
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=