PORT=3000

MONGODB_URI="mongodb+srv://danylovol13:XtYqLGmPz8Wn2FyK@cluster0.4uvzyak.mongodb.net/contactsdb?retryWrites=true&w=majority"
MONGODB_USER=danylovol13
MONGODB_PASSWORD=Test1234
MONGODB_HOST=cluster0.4uvzyak.mongodb.net
MONGODB_DB=contactsdb

JWT_SECRET=v00JidprG1THWcbDvz30
REFRESH_SECRET=08e6baddb323b8610dc0269c61a46b4ca734548e1c82432b7b1d7b185a4a089f
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
APP_DOMAIN=http://localhost:3000/auth

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=danylovol13@gmail.com
SMTP_PASSWORD=xh1lsz1gn1hvlykz
SMTP_FROM=danylovol13@gmail.com

ENABLE_CLOUDINARY=true
CLOUDINARY_CLOUD_NAME=dgjoftg81b
CLOUDINARY_API_KEY=188327949898997
CLOUDINARY_API_SECRET=7GAinAnzFeRoRMuEY_5uqXhEh4Y
